{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/envios/barra.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <div id="barra_titulo">
            <h3>Blume Administración</h3>
        </div>
        <div id="barra_links">
            <a href="/envios/">Productos</a>
            <a href="/envios/pendientes/">Pendientes</a>
            <a>Anteriores</a>
        </div>
    </div>
</body>