<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Nueva Joya</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/envios/ingresar_joyas.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="titulo">Ingresar Nueva Joya</h1>
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{formulario}}
            <input type="submit">
        </form>
    </body>
</html>