* {
    padding: 0;
    margin: 0;
}

.aprobado {
    background-color: #0FCC0B;
    width: 100%;
    height: 16vh;
}

.aprobado_icono, #denegado_icono, #pendiende_icono {
    margin: 2.5vh;
    font-size: 100px;
    color: #0f5909;
}

#aprobado_titulo, #denegado_titulo, #pendiende_titulo {
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-size: 45px;
    font-weight: 800;
    color: #0f5909;
    position: relative;
    bottom: 4vh;
}

#aprobado_subtitulo, #denegado_subtitulo, #pendiende_subtitulo {
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    color: #0f5909;
    position: relative;
    right: 49.7vw;
}

.denegado {
    background-color: rgb(255, 57, 57);
    width: 100%;
    height: 16vh;
}

#denegado_icono, #denegado_titulo, #denegado_subtitulo {
    color: rgb(133, 0, 0);
}

#denegado_subtitulo {
    right: 35.1vw;
}

.pendiende {
    background-color: rgb(255, 246, 124);
    width: 100%;
    height: 16vh;
}

#pendiende_icono, #pendiende_titulo, #pendiende_subtitulo {
    color: #c7b304;
}

#pendiende_subtitulo {
    right: 36.7vw;
}

.compra {
    margin-top: 7vh;
    margin-left: 8vw;
    width: 84vw;
}

#compra_titulo {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.valor {
    margin-top: 4vh;
}

#valor_compra {
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    font-weight: normal;
}

#valor_valor {
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    font-weight: normal;
    float: right;
}

.credito {
    border-radius: 10px;
    background-color: #e7e7e7;
    display: inline-block;
    width: 34vw;
    height: 17vh;
    margin-top: 6vh;
}

.icono{
    font-size: 80px;
    margin-top: 3vh;
    color: #447ab6;
    margin-left: 1vw;
}

#credito_tarjeta {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin-left: 1vw;
    position: relative;
    bottom: 3.5vh;
}

#credito_compra {
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    bottom: 3.5vh;
    left: 7vw;
}

#envio {
    float: right;
}

#envio_direccion {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin-left: 1vw;
    position: relative;
    bottom: 3.5vh;
}

.envio_secundario {
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    bottom: 3.5vh;
    left: 6vw;
}

.opciones {
    margin-top: 5vh;
    text-align: center;
    font-family:  'Sora', sans-serif;
}

.opciones a:first-child {
    margin-right: 4vh;
}

@media only screen and (max-width: 1672px) {
    .aprobado, .denegado, .pendiende {
        height: 13vh;
        width: 100vw;
        position: absolute;
        top: 20vh;
    }

    .aprobado_icono, #denegado_icono, #pendiende_icono {
        font-size: 8vh;
    }

    #aprobado_titulo, #denegado_titulo, #pendiende_titulo {
        font-size: 18px;
        position: absolute;
        top: 1vh;
    }

    #aprobado_subtitulo, #denegado_subtitulo, #pendiende_subtitulo {
        font-size: 12px;
        width: 60vw;
        right: 0;
        margin-top: 1vh;
        position: absolute;
        top: 7vh;
        left: 13vh;
    }

    .compra {
        width: 86vw;
        margin-left: 7vw;
    }

    #compra_titulo {
        display: block;
        text-align: center;
        margin-top: 25vh;
        font-size: 28px;
    }

    #valor_compra {
        display: block;
        text-align: center;
        font-size: 20px;
    }

    #valor_valor {
        display: block;
        float: none;
        text-align: center;
        margin-top: 2vh;
    }

    .credito, .opciones {
        display: block;
        width: 100%;
        height: auto;
    }

    #credito_tarjeta, #envio_direccion {
        font-size: 12px;
        bottom: 7vh;
        width: 50vw;
    }

    #credito_compra, .envio_secundario {
        font-size: 12px;
        margin-left: 20vw;
    }

    .opciones {
        padding-top: 20vh;
        font-size: 10px;
    }
}