* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ececec;
}

.info {
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    margin-left: 6vw;
    margin-top: 6vh;
    width: 43vw;
    height: 36vh;
}

.info h1 {
    margin-left: 2vw;
    padding-top: 2vh;
    margin-right: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 40px;
    border-bottom: 2px solid #b1b1b1;
}

.info input, #id_departamento{
    height: 3vh;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    outline: none;
    border-radius: 2px;
    border: solid 1px #8e8d8d;
    padding-left: 5px;
}

.info input::placeholder {
    color: rgba(0, 0, 0, 0.35);
}

#id_departamento, #id_ciudad {
    margin-left: 2vw;
    margin-top: 4vh;
    width: 12vw;
}

#id_direccion, #id_datos_adicionales{
    margin-left: 2vw;
    margin-top: 2vh;
    width: 26.5vw;
}

#id_telefono {
    margin-left: 2vw;
    margin-top: 2vh;
    width: 12vw;
}

.pagar {
    margin-left: 6vw;
    margin-top: 6.5vh;
    width: 43vw;
    height: 25vh;
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    display: inline-block;
}

#submit {
    margin: auto;
}

.pagar input {
    width: 33vw;
    height: 4vh;
    border-radius: 50px;
    background-color: #447ab6;
    border: 0;
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin-left: 5vw;
    margin-top: 10.5vh;
    outline: none;
    cursor: pointer;
}

.pagar_mercado {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    margin: auto;
    cursor: pointer;

}

.pagar_mercado a {
    color: #000;
    text-decoration: none;
}

.articulos {
    width: 33vw;
    background-color: #fff;
    display: inline-block;
    margin-top: 6vh;
    position: absolute;
    top: 10.5vh;
    left: 55vw;
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.25);
    min-height: 67.2vh;
}

.volver {
    margin-top: 2vh;
    margin-left: 1vw;
    display: inline-block;
    width: 31vw;
    height: 4vh;
    border-bottom: 2px solid rgb(59, 59, 59);
}

.volver i {
    font-size: 25px;
    color: #000000;
}

.volver h6{
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: black;
    display: inline-block;
    margin-left: 0.5vw;
}

#productos_titulo {
    font-family: 'Sora', sans-serif;
    font-size: 35px;
    padding-left: 2vw;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.producto {
    margin-left: 2vw;
    display: inline-block;
    width: 29vw;
    height: 9vh;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
}

.producto img {
    width: 5vw;
    height: 7vh;
    object-fit: contain;
    margin-top: 1vh;
}

.producto h4 {
    display: inline-block;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    position: relative;
    bottom: 5vh;
    right: 0.5vw;
    width: 16vw;
}

.producto h5 {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 400;
    float: right;
    margin-top: 1vh;
}

.producto h3 {
    display: inline-block;
    width: 2vw;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    position: relative;
    left: 5.5vw;
    bottom: 1vh;
}

.costos {
    padding-top: 7vh;
    margin-left: 2vw;
    display: inline-block;
    width: 29vw;
    border-top: 2px solid rgba(0, 0, 0, 0.25);
    font-family: 'Sora', sans-serif;
}

.subtotal {
    font-size: 30px;
}

#subtotal_titulo {
    font-weight: 200;
    display: inline;
}

#subtotal_precio {
    float: right;
    font-weight: 400;
}

.envio {
    margin-top: 0.6vh;
}

#envio_titulo {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}

#envio_precio {
    float: right;
    font-size: 18px;
}

.total {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#total_titulo {
    font-size: 40px;
    display: inline-block;
}

#total_precio {
    float: right;
    font-size: 40px;
}

.pays {
    margin-top: 4.5vh;
    margin-left: 5%;
    width: 90%;
}

.pay {
    background-color: #447ab6;
    margin-bottom: 2vh;
    height: 3vh;
    border-radius: 50px;
    font-family: 'Sora', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 0.5vh;
    font-size: 20px;
}

#efecty_pay {
    background-color: #1d3754;
}

#baloto_pay {
    background-color: #fff;
    border: 3px solid #447ab6;
    color: #000;
}

@media only screen and (max-width: 1242px) {
    .info, .pagar {
        margin-left: 5vw;
        width: 90vw;
    }
    .articulos {
        width: 90vw;
        margin-top: 5vh;
        position: relative;
        left: 5.3vw;
    }

    .info h1 {
        font-size: 6.6vw ;
    }

    .info input {
        min-width: 80vw;
    }

    #id_departamento, #id_ciudad {
        min-width: 40vw;
        font-size: 12px;
    }

    .pagar input {
        min-width: 80vw;
        font-size: 20px;
    }

    .volver, .producto, .costos {
        width: 95%; 
    }

    .volver i {
        font-size: 15px;
    }

    .volver h6 {
        font-size: 15px;
        width: 50vw;   
    }

    #productos_titulo {
        font-size: 25px;
    }

    .producto img {
        width: 13vw;
    }

    .producto h4 {
        font-size: 15px;
        width: auto;
    }

    .producto h5 {
        font-size: 12px;
    }

    .producto h3 {
        display: none;
    }

    #subtotal_titulo, #subtotal_precio {
        font-size: 20px;
    }

    #subtotal_titulo {
        position: relative;
        bottom: 2vh;
    }

    #total_titulo, #total_precio{
        font-size: 30px;
    }

    .pay {
        font-size: 15px;
        padding-top: 0.2vh;
    }
}