.imagen {
    margin-top: 2vh;
}

.imagen img {
    width: 72.344vw;
    height: 25.648vh;
    object-fit: cover;
    margin-left: 13.83vw;
    object-position: top;
}

.imagen i {
    opacity: .5;
    font-size: 50px;
    position: absolute;
    top: 22vh;
    cursor: pointer;
}

#flecha_izquierda {
    left: 12.6vw;
}

#flecha_derecha {
    right: 12.6vw;
}

.barra_imagen {
    text-align: center;
    margin-top: 2vh;
}

.barra_imagen i {
    font-size: 20px;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    color: rgba(0,0,0,.5);
}

#img_1 {
    color: #447ab6;
}

.apartado {
    background-color: #447ab6;
    width: 100%;
    margin-top: 5vh;
}

.apartado h1, .apartado h2, .apartado h3 {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #fff;
    margin-left: 2.5vw;
    padding: 0.5vh 0;
}

.productos {
    margin-left: 0.5vw;
    width: 99vw;
    margin-top: 2.5vh;
}

.producto_titulo {
    font-family: 'Sora', sans-serif;
    font-size: 35px;
    color: #1d3754;
    padding-left: 2vw;
}

.vendidos {
    margin-top: 3vh;
    display: flex;
    justify-content: left;
}

.vendido {
    background-color: #fff;
    display: inline-block;
    width: 12vw;
    border-radius: 10px;
    border: solid 1.5px #868686;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3vh;
    transition: box-shadow 0.5s;
}

.vendido:hover {
    box-shadow: 1px 4px 3px gray;
}

.vendido_imagen {
    height: 15vh;
    width: 8vw;
    object-fit: contain;
    margin: auto;
    margin-top: 1.5vh;
    margin-left: 2vw;
}

.vendido_precio {
    font-family: 'Sora', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: black;
    margin-top: 1.5vh;
    text-align: right;
    padding-right: 1.5vw;
}

.vendido_nombre {
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-top: 1vh;
    margin-bottom: 3vh;
    text-align: right;
    padding-right: 1.5vw;
    padding-left: 1.5vw;
}

@media screen and (max-width: 1075px) {
    .apartado {
        height: 5vh;
    }

    .apartado h1 {
        font-size: 15px;
        padding-top: 1.2vh;
    }

    .producto_titulo {
        font-size: 20px;
    }

    .vendidos {
        display: grid;
        grid-template-rows: repeat(5, 7vh);
        grid-template-columns: 40vw 59vw;
    }

    .vendidos a {
        grid-column: 2;
    }

    .vendido {
        margin-left: 0;
        width: 57vw;
        height: 5vh;
    }

    .vendido_imagen {
        width: 8vw;
        height: 4vh;
        margin-top: 0.4vh;
    }

    .vendido_precio {
        font-size: 10px;
        float: right;
    }

    .vendido_nombre {
        font-size: 9px;
        display: inline-block;
        margin-top: 0;
        position: relative;
        bottom: 2.5vh;
        width: 50%;
        text-align: left;
    }

    .vendidos a:last-of-type {
        grid-column: 1 / 2;
        grid-row: 5;
    }

    .vendidos a:last-of-type div {
        margin-left: 2vw;
        width: 95vw;
    }

    .vendidos a:last-of-type div h4{
        font-size: 15px;
        margin-top: 1vh;
    }

    .vendidos a:last-of-type div h5 {
        font-size: 12px;
        bottom: 2vh;
    }

    .vendidos a:first-of-type{
        grid-column: 1;
        grid-row: 1 / 4;
    }

    .vendidos a:first-of-type div {
        width: 34vw;
        height: 26vh;
        margin-left: 2vw;
    }

    .vendidos a:first-of-type div img {
        width: 20vw;
        height: 16vh;
        margin-left: 7vw;
    }

    .vendidos a:first-of-type div h4 {
        font-size: 15px;
        display: block;
        position: static;
        float: none;
        margin-top: 0;

    }

    .vendidos a:first-of-type div h5 {
        font-size: 12px;
        display: block;
        position: static;
        float: none;
        width: 100%;
        margin-top: 1vh;
    }

    .imagen {
        margin-top: 4vh;
    }

    .imagen img {
        width: 92.266vw;
        height: 10.344vh;
        margin-left: 3.867vw;
    }

    .imagen i {
        font-size: 30px;
    }

    .barra_imagen i {
        font-size: 11px;
    }

    #flecha_derecha {
        right: 2vw;
        top: 24vh;
    }

    #flecha_izquierda {
        left: 2vw;
        top: 24vh;
    }
}


@media screen and (max-width: 395px) {
    .vendido_nombre {
        width: 40%;
        height: auto;
        bottom: 1vh;
    }
}