<!DOCTYPE html>
<html>
    <head>
        <title>Estado del pago</title>
        <script src="https://kit.fontawesome.com/7c5129238c.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div>
            <i class="fas fa-check-circle"></i>
            <h3>Tu transacción a sido aprovada con exito</h3>
            <h5>Pronto llegara tu producto</h5>
        </div>
        <div>
            <a>Volver al Inicio</a>
            <a>Ver mis envios</a>
        </div>
    </body>

</html>
