{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'css/barra.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="120x120"  href="{%static 'images/logo_cabeza_120x120.png' %}">
    <link rel="icon" sizes="152x152"  href="{%static 'images/logo_cabeza_152x152.png' %}">
    <script src="https://kit.fontawesome.com/7c5129238c.js" crossorigin="anonymous"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="blume, joyas, diseño, accesorios, aretes, collares, pulseras, anillos, otros, oro, plata"/>
    <meta name="author" content="Manuel Rosero"/>
    <meta name="copyright" content="© 2020 BLUME"/>
</head>
<body>
    <div class="barra-principal">
        <img id="imagen-barra" src="{% static 'images/logo_blanco.png' %}" alt="logo">
        <a id="cuenta_link" href="/login/"><i id="cuenta-barra" class="fas fa-user-circle"></i></a>
        <a href="/carro/"><i id="carrito-barra" class="fas fa-shopping-cart"></i></a>
    </div>
    <div class="barra-abajo">
        <div class="links">
            <a href="/">Inicio</a>
            <a href="/joya/">Productos</a>
            <a href="/sobre_nosotros/">Sobre Nosotros</a>
        </div>
    </div>
    <div class="cuenta_pop" id="cuenta_pop">
        <i id="arrow" class="fas fa-sort-up"></i>
        <div class="cuenta_container">
            <a>¡Hola, {{request.user}}!</a>
            <a href="/tusenvios/">Mis envios</a>
            <a>Info Cuenta</a>
            <a href="/carro/">Carrito</a>
            <a href="/logout/">Cerrar Sesión</a>
        </div>
    </div>
    {% if user.is_authenticated %}
    <script>
        var icono_cuenta = document.getElementById('cuenta-barra');
        var cuenta_pop = document.getElementById('cuenta_pop');

        document.getElementById('cuenta_link').removeAttribute('href');
        var checker = 2;

        icono_cuenta.onclick = function(){
            if (checker%2 == 0) {
                cuenta_pop.style.display = "inline";
            } else {
                cuenta_pop.style.display = "none";
            };
            checker++;
        };
    </script>
    {% endif %}
</body>