<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Blume Diseño</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" conten="Bienvenido a Blume, Una empresa de venta de joyas en oro y plata, no dudes en entrar y echarles un ojo. Puedes contacterte en la pagina Sobre Nosotros."/>
        <meta name="keywords" content="blume, joyas, diseño, accesorios, aretes, collares, pulseras, anillos, otros, oro, plata"/>
        <meta name="robots" content="index,follow"/>
        <meta name="author" content="Manuel Rosero"/>
        <meta name="copyright" content="© 2020 BLUME"/>
    </head>
    {% include 'barra.html' %}
    <body></body>
</html>
