<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <title>Iniciar Sesión</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    </head>
    {% include 'barra.html' %}
    <body>
        <h1 class="titulo-login">Por Favor, Inicie Sesión</h1>
        <p id="error">{{error}}</p>
        <form method="POST">{% csrf_token %}
            <div class="entrada">
                <label>Usuario:</label>
                {{form.usuario}}
            </div>
            <div class="entrada">
                <label>Contraseña:</label>
                {{form.password}}
            </div>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="entrada">
                <input type="submit" value="Ingresar" id="enviar">
            </div>
        </form>
        <p id="crearcuenta">¿No tienes una cuenta? <a href="/login/cuenta_nueva">Crea Una</a></p>
    </body>

</html>