<!DOCTYPE html>

{% load static %}
<html lang="es">
    {% include 'barra.html' %}
    <head>
        <title>Blume Diseño | Los mejores productos de {{material}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/material.css' %}" rel="stylesheet" type="text/css">
        <meta name="description" content="Productos de {{material}}. De alta calidad.">
    </head>
    <body>
        <div id="titulo_div" class="titulo">
            <h1 id="titulo_general">Productos de {{ material }}</h1>
        </div>
        <div id="all_products">
            <div class="mas_vendidos">
                <h3>Más Vendidos</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in mas_vendidos %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen.url }}" alt="imagen_vendido">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3><a href="/joya/{{material}}/aretes/">Aretes</a></h3>
                <div class="mas_vendidos_div">
                    {% for vendido in aretes %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen.url }}" alt="vendido_imagen">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3><a href="/joya/{{material}}/collares/">Collares</a></h3>
                <div class="mas_vendidos_div">
                    {% for vendido in collares %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen.url }}" alt="vendido_imagen">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3><a href="/joya/{{material}}/pulseras/">Pulseras</a></h3>
                <div class="mas_vendidos_div">
                    {% for vendido in pulseras %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen.url }}" alt="vendido_imagen">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3><a href="/joya/{{material}}/anillos/">Anillos</a></h3>
                <div class="mas_vendidos_div">
                    {% for vendido in anillos %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen.url }}" alt="vendido_imagen">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3><a href="/joya/{{material}}/otros/">Otros</a></h3>
                <div class="mas_vendidos_div">
                    {% for vendido in otros %}
                        <div class="vendido">
                            <a href="/joya/{{ vendido.material }}/{{ vendido.tipo }}/{{ vendido.id }}">
                                <img class="vendido_imagen" src="{{ vendido.imagen }}" alt="imagen_vendido">
                                <h4 class="vendido_precio precios">{{ vendido.precio }}</h4>
                                <h5 class="vendido_nombre">{{ vendido.nombre }}</h5>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
        var precios = document.getElementsByClassName('precios');
        for (let i = 0; i < precios.length; i++) {
            if (precios[i].textContent == "0") {
                precios[i].textContent = "Cotizar";
            } else {
                precios[i].textContent = "$" + precios[i].textContent.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            };
        };

        var titulo = document.getElementById('titulo_general');
        var divimg = document.getElementById('titulo_div');
        if (titulo.textContent.slice(-1)== "o") {
            divimg.style.backgroundImage = "url('/static/images/o.jpeg')";
            divimg.style.backgroundPosition = "center";
            titulo.style.color = "#fff";
        }
    </script>
</html>
