<!DOCTYPE html>

{% load static %}
<html>
    {% include 'barra.html' %}
    <head>
        <title>Productos de Oro</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/material.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="titulo_div" class="titulo">
            <h1 id="titulo_general">Productos de {{material}}</h1>
        </div>
        <div id="all_products">
            <div class="mas_vendidos">
                <h3>Más Vendidos</h3>
                <div class="mas_vendidos_div">
                {% for vendido in mas_vendidos %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3>Aretes</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in aretes %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3>Collares</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in collares %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3>Pulseras</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in pulseras %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3>Anillos</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in anillos %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
            <div class="mas_vendidos">
                <h3>Otros</h3>
                <div class="mas_vendidos_div">
                    {% for vendido in otros %}
                    <a href="/joya/{{vendido.material}}/{{vendido.tipo}}/{{vendido.id}}"><div class="vendido">
                        <img class="vendido_imagen" src="/{{vendido.imagen}}">
                        <h4 class="vendido_precio precios">{{vendido.precio}}</h4>
                        <h5 class="vendido_nombre">{{vendido.nombre}}</h5>
                    </div></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
        var precios = document.getElementsByClassName('precios');
        for (let i = 0; i < precios.length; i++) {
            precios[i].textContent = "$" + precios[i].textContent.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        };

        var titulo = document.getElementById('titulo_general');
        var divimg = document.getElementById('titulo_div');
        if (titulo.textContent == "Productos de oro") {
            divimg.style.backgroundImage = "url('/static/images/o.jpeg')";
            divimg.style.backgroundPosition = "center";
            titulo.style.color = "#fff";
        }
    </script>
</html>