<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <title>Crear Nueva Cuenta</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/nueva_cuenta.css' %}" rel="stylesheet" type="text/css">
    </head>
    {% include 'barra.html' %}
    <body>
        <h1>Crear cuenta nueva</h1>
        <form method="POST"> {% csrf_token %}
            <div class="derecha">
                <label>Nombre de usuario:</label>
                {{form.username}}
                {{form.username.errors}}
            </div>
            <div class="izquierda">
                <label>Correo electronico:</label>
                {{form.email}}
                {{form.email.errors}}
            </div>
            <div class="derecha">
                <label>Contraseña:</label>
                {{form.password1}}
                {{form.password1.errors}}
            </div>
            <div class="izquierda">
                <label>Repetir contraseña:</label>
                {{form.password2}}
                {{form.password2.errors}}
            </div>
            <input type="submit" id="crear_cuenta">
        </form>
    </body>
</html>