<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{joya.nombre}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/producto.css' %}" rel="stylesheet" type="text/css">
    </head>
    {% include 'barra.html' %}
    <body>
        <div class="imagen">
            <img id="imagen-imagen" src="/{{joya.imagen}}">
        </div>
        <div class="informacion">
            <h1 id="titulo_informacion">{{joya.nombre}}</h1>
            <div class="precio">
                <h3 id="precio_precio">${{precio}}</h3>
                <h6 id="stock">{{stock}}</h6>
                <script>
                    var stock = document.getElementById('stock');
                    if (stock.textContent == "Stock Disponible") {
                        stock.style.color = '#208f46';
                    } else {
                        stock.style.color = '#F00';
                    }
               </script>
            </div>
            <div class="botones">
                <button id="boton_comprar">Compar Ahora</button>
                <button id="boton_carrito">Al Carrito</button>
            </div>
            <div class="especificaciones">
                <div class="material">
                    <h6>Material:</h6>
                    <h5>{{joya.material}}</h5>
                </div>
                <div id="piedra" class="material">
                    <h6>Piedra(s):</h6>
                    <h5>{{joya.piedra}}</h5>
                </div>
            </div>
        </div>
        <div class="descripcion">
            <h3>Descripción</h3>
            <p>{{joya.descripcion}}</p>
        </div>
        {% if not user.is_authenticated %}
        <div id="contenedor" class="pop_inactivo pop_contenedor">
            <div class="pop-up">
                <h3>Para poder realizar esto primero debe iniciar sesión</h3><br>
                <a href="../../login/?next=/{{joya.material}}/{{joya.tipo}}/{{joya.id}}"><button>Iniciar sesión</button></a>
            </div>
        </div>
        <div id="oscuro" class="pop_inactivo oscuro"></div>
        <script src="{% static 'javascript/popup.js' %}"></script>
        {% endif %}
    </body>
</html>