<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <title>Blume Diseño | Interesado en: {{ joya.nombre }}</title>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="{% static 'css/producto.css' %}" rel="stylesheet" type="text/css">
        <meta name="description" content="Joya {{joya.nombre}} es una bella joya de Blume.">
    </head>
    {% include 'barra.html' %}
    <body>
        <div class="imagen">
            <img id="imagen-imagen" src="/{{ joya.imagen }}" alt="joya_imagen">
        </div>
        <div class="informacion" id="infoo">
            <h1 id="titulo_informacion">{{ joya.nombre }}</h1>
            <div class="precio">
                <h3 id="precio_precio">${{ precio }}</h3>
                <h6 id="stock">{{ stock }}</h6>
            </div>
            <div class="botones">
                <button id="boton_comprar">Compar Ahora</button>
                <button id="boton_carrito">Al Carrito</button>
                <i id="existente">{{ mensaje }}</i>
            </div>
            <div class="especificaciones">
                <div class="material">
                    <h6>Material:</h6> 
                    <h5 id="material_material">{{ joya.material }}</h5>
                </div>
                <div id="piedra" class="material">
                    <h6>Piedra(s):</h6>
                    <h5 id="piedra_piedra">{{ joya.piedra }}</h5>
                    <script>
                        function pagina_rota(x) {
                            var piedra = document.getElementById('piedra_piedra');
                            var lentt = piedra.textContent.length;
                            var div_piedra = document.getElementById('piedra');
                            var todo = document.getElementById('infoo')
                            if (lentt > 19) {
                                if (x.matches) {
                                div_piedra.style.marginTop = "4vh";
                                div_piedra.style.position = "relative";
                                div_piedra.style.right = "6vw";
                                } else {
                                    div_piedra.style.position = "absolute";
                                };
                            };
                        }

                        var x = window.matchMedia("(max-width: 1100px)")
                        pagina_rota(x)
                    </script>
                </div>
            </div>
        </div>
        <div class="descripcion">
            <h3>Descripción</h3>
            <p>{{ joya.descripcion }}</p>
        </div>
        <h6 id="id_joya" style="display: none;">{{ joya.id }}</h6>

        <script defer type="text/javascript" src="{% static 'javascript/producto.js' %}"></script>
 
    </body>
</html>
